/* styles.css */

/* The main container */
.container {
    display: flex;              /* Using Flexbox */
    justify-content: center;    /* Horizontally center the content */
    align-items: center;        /* Vertically center the content */
    height: 0.01vh;              /* Full viewport height */
    font-size: 15px;            /* Increased font size */
    padding: 20px;              /* Some padding for better appearance */
}

/* Styling the form for better appearance */
.container form {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    max-width: 400px;                          /* Limiting the width for better aesthetics */
}

/* Styling the labels */
.container form label {
    display: block;         /* Making each label a block element */
    margin-bottom: 10px;    /* Some margin for spacing */
}

/* Styling the input fields */
.container form input[type="text"],
.container form input[type="password"],
.container form input[type="email"] {
    width: 100%;           /* Full width of the parent */
    padding: 10px;         /* Some padding for comfort */
    margin-bottom: 20px;   /* Some margin for spacing */
    
    border-radius: 5px;    /* Rounded corners */
    border: 1px solid #ccc;/* A border to define the input space */
    font-size: 14px;       /* Slightly bigger font size for the inputs */
}

/* Styling the checkboxes */
.container form input[type="checkbox"] {
    margin-right: 5px;     /* Some margin for spacing */
}

/* Styling the submit button */
.container form button {
    padding: 10px 20px;    /* Vertical and horizontal padding */
    background-color: #007BFF; /* Blue color */
    color: white;          /* White text */
    border: none;          /* No border */
    border-radius: 5px;    /* Rounded corners */
    cursor: pointer;       /* Cursor indication for clickability */
    font-size: 15px;   
    margin-bottom: 10px;    /* Bigger font size for the button */
}

.container form button:hover {
    background-color: #0056b3; /* A darker shade of blue for hover effect */
}
